@import url("https://fonts.googleapis.com/css?family=Bowlby+One+SC");
@import "tailwindcss";

.blade1,
.blade2,
.blade3,
.blade4,
.blade5,
.blade6,
.blade7,
.blade8,
.blade9,
.blade10,
.blade11,
.blade12,
.blade13,
.blade14,
.blade15,
.blade16,
.blade17,
.blade18,
.blade19,
.blade20,
.blade21,
.blade22,
.blade23,
.blade24,
.blade25,
.blade26,
.blade27,
.blade28,
.blade29,
.blade30,
.blade31,
.blade32,
.blade33,
.blade34,
.blade35,
.blade36,
.blade37,
.blade38,
.blade39,
.blade40,
.blade41,
.blade42,
.blade43,
.blade44,
.blade45,
.blade46,
.blade47,
.blade48,
.blade49,
.blade50 {
  border-left: 0.8vw solid transparent;
  border-right: 0.8vw solid transparent;
  border-bottom: 5vw solid green;
  position: absolute;
  animation: mymove 5s infinite ease-in-out;
  z-index: 20;
  bottom: 0px;
}

.blade1 {
  left: 0%;
}
.blade2 {
  left: 2%;
}
.blade3 {
  left: 4%;
}
.blade4 {
  left: 6%;
}
.blade5 {
  left: 8%;
}
.blade6 {
  left: 10%;
}
.blade7 {
  left: 12%;
}
.blade8 {
  left: 14%;
}
.blade9 {
  left: 16%;
}
.blade10 {
  left: 18%;
}
.blade11 {
  left: 20%;
}
.blade12 {
  left: 22%;
}
.blade13 {
  left: 24%;
}
.blade14 {
  left: 26%;
}
.blade15 {
  left: 28%;
}
.blade16 {
  left: 30%;
}
.blade17 {
  left: 32%;
}
.blade18 {
  left: 34%;
}
.blade19 {
  left: 36%;
}
.blade20 {
  left: 38%;
}
.blade21 {
  left: 40%;
}
.blade22 {
  left: 42%;
}
.blade23 {
  left: 44%;
}
.blade24 {
  left: 46%;
}
.blade25 {
  left: 48%;
}
.blade26 {
  left: 50%;
}
.blade27 {
  left: 52%;
}
.blade28 {
  left: 54%;
}
.blade29 {
  left: 56%;
}
.blade30 {
  left: 58%;
}
.blade31 {
  left: 60%;
}
.blade32 {
  left: 62%;
}
.blade33 {
  left: 64%;
}
.blade34 {
  left: 66%;
}
.blade35 {
  left: 68%;
}
.blade36 {
  left: 70%;
}
.blade37 {
  left: 72%;
}
.blade38 {
  left: 74%;
}
.blade39 {
  left: 76%;
}
.blade40 {
  left: 78%;
}
.blade41 {
  left: 80%;
}
.blade42 {
  left: 82%;
}
.blade43 {
  left: 84%;
}
.blade44 {
  left: 86%;
}
.blade45 {
  left: 88%;
}
.blade46 {
  left: 90%;
}
.blade47 {
  left: 92%;
}
.blade48 {
  left: 94%;
}
.blade49 {
  left: 96%;
}
.blade50 {
  left: 98%;
}

@keyframes mymove {
  0%,
  50%,
  100% {
    border-left: 0.8vw solid transparent;
    border-right: 2vw solid transparent;
  }
  25%,
  75% {
    border-left: 2vw solid transparent;
    border-right: 0.8vw solid transparent;
  }
}

.blade1b,
.blade2b,
.blade3b,
.blade4b,
.blade5b,
.blade6b,
.blade7b,
.blade8b,
.blade9b,
.blade10b,
.blade11b,
.blade12b,
.blade13b,
.blade14b,
.blade15b,
.blade16b,
.blade17b,
.blade18b,
.blade19b,
.blade20b,
.blade21b,
.blade22b,
.blade23b,
.blade24b,
.blade25b,
.blade26b,
.blade27b,
.blade28b,
.blade29b,
.blade30b,
.blade31b,
.blade32b,
.blade33b,
.blade34b,
.blade35b,
.blade36b,
.blade37b,
.blade38b,
.blade39b,
.blade40b,
.blade41b,
.blade42b,
.blade43b,
.blade44b,
.blade45b,
.blade46b,
.blade47b,
.blade48b,
.blade49b,
.blade50b {
  border-left: 0.8vw solid transparent;
  border-right: 0.8vw solid transparent;
  border-bottom: 5vw solid #1e4018;
  position: absolute;
  animation: mymoveb 5s infinite ease-in-out;
  z-index: 5;
  bottom: 0px;
}

.blade1b {
  left: 1%;
}
.blade2b {
  left: 3%;
}
.blade3b {
  left: 5%;
}
.blade4b {
  left: 7%;
}
.blade5b {
  left: 9%;
}
.blade6b {
  left: 11%;
}
.blade7b {
  left: 13%;
}
.blade8b {
  left: 15%;
}
.blade9b {
  left: 17%;
}
.blade10b {
  left: 19%;
}
.blade11b {
  left: 21%;
}
.blade12b {
  left: 23%;
}
.blade13b {
  left: 25%;
}
.blade14b {
  left: 27%;
}
.blade15b {
  left: 29%;
}
.blade16b {
  left: 31%;
}
.blade17b {
  left: 33%;
}
.blade18b {
  left: 35%;
}
.blade19b {
  left: 37%;
}
.blade20b {
  left: 39%;
}
.blade21b {
  left: 41%;
}
.blade22b {
  left: 43%;
}
.blade23b {
  left: 45%;
}
.blade24b {
  left: 47%;
}
.blade25b {
  left: 49%;
}
.blade26b {
  left: 51%;
}
.blade27b {
  left: 53%;
}
.blade28b {
  left: 55%;
}
.blade29b {
  left: 57%;
}
.blade30b {
  left: 59%;
}
.blade31b {
  left: 61%;
}
.blade32b {
  left: 63%;
}
.blade33b {
  left: 65%;
}
.blade34b {
  left: 67%;
}
.blade35b {
  left: 69%;
}
.blade36b {
  left: 71%;
}
.blade37b {
  left: 73%;
}
.blade38b {
  left: 75%;
}
.blade39b {
  left: 77%;
}
.blade40b {
  left: 79%;
}
.blade41b {
  left: 81%;
}
.blade42b {
  left: 83%;
}
.blade43b {
  left: 85%;
}
.blade44b {
  left: 87%;
}
.blade45b {
  left: 89%;
}
.blade46b {
  left: 91%;
}
.blade47b {
  left: 93%;
}
.blade48b {
  left: 95%;
}
.blade49b {
  left: 97%;
}
.blade50b {
  left: 99%;
}

@keyframes mymoveb {
  0%,
  50%,
  100% {
    border-left: 0.8vw solid transparent;
    border-right: 2vw solid transparent;
  }
  25%,
  75% {
    border-left: 2vw solid transparent;
    border-right: 0.8vw solid transparent;
  }
}

html,
body {
  width: 100%;
  height: 100dvh;
  overflow-x: hidden; /* Prevents side-scrolling */
  position: relative;
}

.custom-scrollbar {
  scrollbar-width: thin;

  scrollbar-color: #016630 transparent;
}

.font {
  font-family: "Courier New", Monospace;
}

.grassgrow {
  animation: grow 2s ease-in-out forwards;
}

@keyframes grow {
  0% {
    top: 120%;
  }
  100% {
    top: 100%;
  }
}

.startslow {
  animation: titlebegin2 2s ease-in-out forwards;
}

@keyframes titlebegin2 {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.start {
  animation: begin 0.5s ease-in-out forwards;
}

@keyframes begin {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.exit {
  animation: exit 0.5s ease-in-out forwards;
}

@keyframes exit {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

.movecloud {
  animation-name: moveside;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  left: -10vw;
  opacity: 0.6;
  z-index: 1;
}

@keyframes moveside {
  0% {
    transform: translateX(-10vw);
  }
  100% {
    transform: translateX(120vw);
  }
}

.fade-box {
  transition: opacity 0.8s ease;
}

.visible {
  opacity: 1;
}

.invisible {
  opacity: 0;
}

.viewport-text {
  position: relative;
  color: white;
  font-style: bold;
  text-align: left;
  font-size: clamp(26px, 1vw, 52px);
}

.viewport-image {
  position: relative;
  width: 30vw;
  height: 40vh;
  bottom: 20vh;
  float: right;
  right: 10vw;
}

@media screen and (max-width: 1px) {
  .viewport-image {
    position: relative;
    width: 500px;
    float: right;
    margin-left: 40px;
    margin-bottom: 20px;
  }
}

.testbox {
  position: relative;
  width: 50vw;
  height: 50vh;
  color: white;
  font-style: bold;
  top: 25vh;
  left: 5vw;
  flex-direction: column;
  background-color: transparent;
}

.openbox {
  width: 50vw;
  height: 50vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;

  z-index: 1030;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 40;
}

body.no-scroll {
  overflow: hidden;
}

.overlay:hover {
  cursor: default;
}

.closebutton {
  cursor: pointer;
  z-index: 1030;
  margin-left: 95%;
}

.textbutton {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.unfoldtitle {
  transition: height 0.5s ease;
  height: 25px;
}

.unfoldtitle:hover {
  cursor: pointer;
  height: 100px;
  transition: height 0.5s ease;
}

.unfold {
  transition: height 0.5s ease;
  height: 25px;
  width: 190px;
}

.unfold:hover {
  cursor: pointer;
  height: 190px;
  transition: height 0.5s ease;
}

@media (max-width: 768px) {
  .unfold {
    transition: height 0.5s ease;
    height: 25px;
    width: 90px;
  }

  .unfold:hover {
    cursor: pointer;
    height: 100px;
    transition: height 0.5s ease;
  }
}

.enlargen {
  transition: transform 0.3s ease;
}

.enlargen:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.enlargen2 {
  transition: transform 0.3s ease;
}

.enlargen2:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.cloud {
  width: 100px;
  height: 50px;
  -webkit-filter: blur(6px);
  filter: blur(6px);
  position: absolute;
  background: white;
  border-radius: 50%;
  box-shadow: 60px 0 0 white, 120px 0 0 white, 30px -30px 0 white,
    90px -30px 0 white;
  opacity: 0.4;
  z-index: 10;
}

@media (max-width: 1024px) {
  .cloud {
    width: 50px;
    height: 25px;
    -webkit-filter: blur(6px);
    filter: blur(6px);
    position: absolute;
    background: white;
    border-radius: 50%;
    box-shadow: 30px 0 0 white, 60px 0 0 white, 15px -15px 0 white,
      45px -15px 0 white;
    opacity: 0.4;
    z-index: 10;
  }
}

.cloudanimate1 {
  animation: moveClouds1 60s linear infinite;
}

.cloudanimate2 {
  animation: moveClouds2 60s linear infinite;
}

.cloudanimate1longer {
  animation: moveClouds1long 20s linear infinite;
}

.cloudanimate2longer {
  animation: moveClouds2long 20s linear infinite;
}

@keyframes moveClouds1 {
  0% {
    transform: translateX(-10vw);
  }
  100% {
    transform: translateX(100vw);
  }
}

@keyframes moveClouds2 {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-10vw);
  }
}

@keyframes moveClouds1long {
  0% {
    transform: translateX(-10vw);
  }
  100% {
    transform: translateX(200vw);
  }
}

@keyframes moveClouds2long {
  0% {
    transform: translateX(200vw);
  }
  100% {
    transform: translateX(-10vw);
  }
}

.stars {
  background-image: url(https://th.bing.com/th/id/R.1ac993017c55863b122b7dac8467d622?rik=frJJa28vdtCS1Q&riu=http%3a%2f%2fclipart-library.com%2fnew_gallery%2f272-2720406_free-png-stars-transparent-background-stars-cartoon.png&ehk=7vDvZ0GY0QKJ5tEuhZKFcVoyEJ9M9krdOfcesDUR%2fl0%3d&risl=&pid=ImgRaw&r=0);
  background-repeat: repeat;
  background-attachment: fixed;
}

body {
  overflow: hidden;

  background: linear-gradient(
    90deg,
    #a3e3fa,
    #a3e3fa,
    #a3e3fa,
    #a3e3fa,
    #a3e3fa,
    #a3e3fa,
    #75aaf0,
    /* sunset colors
        #B84E7B,
        #B84E7B,
        #FF8A8A,
        */
      #5f3a8a,
    #1c1f4a,
    #1c1f4a,
    #0e122b,
    #0e122b,
    #0e122b,
    #0e122b,
    #0e122b,
    #0e122b,
    #1c1f4a,
    #1c1f4a,
    #5f3a8a,
    /* sunset color
         #FF8A8A,
         #B84E7B,
         #B84E7B,
         */
      #75aaf0,
    #a3e3fa,
    #a3e3fa,
    #a3e3fa,
    #a3e3fa,
    #a3e3fa,
    #a3e3fa
  );
  background-size: 500% 500%;

  animation: gradient 120s ease-in-out infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 50% 50%;
  }

  100% {
    background-position: 100% 100%;
  }
}

.moon {
  background-color: #c3c2be;
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 5px 0 10px 3px rgba(229, 229, 229, 0.3),
    0 0 10px 2px rgba(229, 229, 229, 0.3),
    5px 0 10px 3px rgba(229, 229, 229, 0.3),
    0px 0 3px 2px rgba(229, 229, 229, 0.3);
  margin: auto;
  animation: movedot 120s linear infinite;
}

.moon::after {
  content: "";
  background-color: rgba(162, 162, 162, 0.81);
  display: block;
  position: absolute;
  left: 128px;
  top: 40px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  box-shadow: 3px 0 0 1px rgba(98, 98, 98, 0.51),
    7px 45px 0 -5px rgba(162, 162, 162, 0.9),
    9px 45px 0 -5px rgba(100, 100, 100, 0.51),
    35px 20px 0 -10px rgba(162, 162, 162, 0.9),
    37px 20px 0 -10px rgba(100, 100, 100, 0.51);
}
@media (max-width: 1024px) {
  .moon {
    background-color: #c3c2be;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 2.5px 0 5px 1.5px rgba(229, 229, 229, 0.3),
      0 0 5px 1px rgba(229, 229, 229, 0.3),
      2.5px 0 5px 1.5px rgba(229, 229, 229, 0.3),
      0px 0 1.5px 1px rgba(229, 229, 229, 0.3);
    margin: auto;
    animation: movedot 120s linear infinite;
  }

  .moon::after {
    content: "";
    background-color: rgba(162, 162, 162, 0.81);
    display: block;
    position: absolute;
    left: 64px;
    top: 20px;
    width: 18px;
    height: 18px;
    border-radius: 50%;

    box-shadow: 1.5px 0 0 0.5px rgba(98, 98, 98, 0.51),
      3.5px 22.5px 0 -2.5px rgba(162, 162, 162, 0.9),
      4.5px 22.5px 0 -2.5px rgba(100, 100, 100, 0.51),
      17.5px 10px 0 -5px rgba(162, 162, 162, 0.9),
      18.5px 10px 0 -5px rgba(100, 100, 100, 0.51);
  }
}

.dot {
  position: absolute;
  height: 150px;
  width: 150px;
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
  animation: movedot 120s linear infinite;
}

@keyframes movedot {
  0% {
    transform: translate(100vw, 100vh);
  }

  15% {
    transform: translate(100vw, 100vh);
  }

  40% {
    transform: translate(49vw, 12vh);
  }

  65% {
    transform: translate(40vw, 12vh);
  }

  85% {
    transform: translate(0vw, 100vh);
  }

  100% {
    transform: translate(100vw, 100vh);
  }
}

.sun {
  display: inline-block;
  border-radius: 50%;
  background: #ffcc33;
  box-shadow: 0 0 4px orange, 0 0 20px orange, 0 0 60px yellow,
    inset 0 0 20px yellow;
  position: absolute;
  animation: movesun 120s linear infinite;
}

.dot2 {
  position: absolute;
  height: 200px;
  width: 200px;
  background-color: yellow;
  border-radius: 50%;
  display: inline-block;
  animation: movesun 120s linear infinite;
}

@keyframes movesun {
  0% {
    transform: translate(49vw, 12vh);
  }
  15% {
    transform: translate(40vw, 12vh);
  }
  30% {
    transform: translate(0vw, 100vh);
  }

  65% {
    transform: translate(100vw, 100vh);
  }

  100% {
    transform: translate(49vw, 12vh);
  }
}

.navbar-image-space {
  position: relative;
  left: 30%;
}

.navbar-image-initial {
  position: relative;
  left: 25%;
}

.navbar-space-initial {
  position: relative;
  margin-left: 5%;
}

.navbar-space {
  position: relative;
  margin-left: 5%;
}

.box-text {
  margin-left: 50px;
  margin-top: 50px;
}

.box-left {
  margin-right: 5%;
  height: 75%;
  width: 15%;
}

.box-right {
  margin-left: 5%;
  height: 75%;
  width: 15%;
}

.color_box {
  display: flex;
  align-items: flex-end;
  color: white;
}

.navbar-logo {
  width: 50px;
  height: 50px;
}

.box-image {
  width: 1050px;
  justify-content: center;
  margin-left: 60px;
}

.box-full {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.nav-text {
  text-decoration: none;
  color: white;
  left: 25%;
}

.navbar-image {
  position: relative;
  left: 31%;
}
.nav-image2 {
  position: relative;
  left: 32%;
}
.skip-button {
  width: 50px;
  height: 50px;
  margin-left: 92%;
}

.fade-in-image {
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.floor-background {
  position: relative;
  background: linear-gradient(-45deg, #00a619, #008013, #09b051, #59a608);
  background-size: 400% 400%;
  animation: gradient 120s ease infinite;
  height: 300vh;
}
