@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');





.viewport-text{
  position: relative;
  color: white;
  font-style: bold;
  text-align: left;
  font-size: clamp(26px, 1vw, 52px);
  
}



.viewport-image{
  position: relative;
  width: 30vw;
  height: 40vh;
  bottom: 20vh;
  float: right;
  right: 10vw;
  
}

@media screen and (max-width: 1px) {
  .viewport-image{
    position: relative;
  width: 500px;
  float: right;
  margin-left: 40px;
  margin-bottom: 20px;
  }
}

.testbox{
  position: relative;
  width: 50vw;
  height: 50vh;
  color: white;
  font-style: bold;
  top: 25vh;
  left: 5vw;
  flex-direction: column;
  background-color: transparent;
 
}


.openbox{
  width: 50vw;
  height: 50vh;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  
  z-index: 1030;
}

.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1020;
}

.overlay:hover{
  cursor: default;
}

.closebutton{
  cursor: pointer;
  z-index: 1030;
  margin-left: 95%;
}



.boxbutton{
  width: 250px;
  height: 250px;
  display: block;
  border: none;
  margin-left: 10%;
  margin-top: 10%;
  transition: transform 0.3s ease;

}

.boxbutton:hover{
   cursor: pointer;
  background-color: #373737;
  transform: scale(1.5);
  transition: transform 0.3s ease;
}
.cloud{
  position: absolute;
  top: 20%;
  left: 10%;
  width: 200px;
  height: 100px;
  background: white;
  border-radius: 50%;
  box-shadow: 60px 0 0 white, 120px 0 0 white, 30px -30px 0 white, 90px -30px 0 white;
  opacity: 0.8;
  animation: moveClouds 60s linear infinite;
}
@keyframes moveClouds {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(100vw)
  }
}
.sky-background{
  position: relative;
  background: linear-gradient(-45deg,#75AAF0, #7BC1FA, #8FDAFA, #A3E3FA, #82CEFA);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  height: 250vh
    
}

.floor-background{
  position: relative;
  background: linear-gradient(-45deg, #00A619
, #008013
, #09B051
, #59A608
);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  height: 250vh;
    
}

body {
  overflow-x: hidden;
  height: 500vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 100%;
    }
    50% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 0% 100%;
    }
}


.navbar-image-space{
  margin-left: 5%;
}

.navbar-image-initial{
  margin-left: 25%;
}

.navbar-space-initial{
  margin-left: 5%;
}

.navbar-space{
  margin-left:5%;
}


.box-text {
  margin-left: 50px;
  margin-top: 50px;
}

.box-left {
  margin-right: 5%;
  height: 75%;
  width: 15%;

}

.box-right {
  margin-left: 5%;
  height: 75%;
  width: 15%;


}

.color_box{
  background-color: transparent;
  color: white;
}

.navbar-logo{
  width: 50px;
  height: 50px;
}

.box-image{
  width: 1050px;
  justify-content: center;
  margin-left: 60px;
}

.box-full{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.nav-text{
  text-decoration: none;
  color:white;
}

.navbar-image{
  margin-left: 1%;

}
.skip-button{
  width: 50px;
  height: 50px;
  margin-left: 92%;
}


.fade-in-image {
animation: fadeIn 5s;
}

@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}